// Login.scss
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 55vh;
    background-color: #f7f9fc;
    padding: 20px;
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 400px;
      background-color: #fff;
      padding: 30px 20px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
      input {
        width: 100%;
        padding: 12px 15px;
        margin-bottom: 15px;
        font-size: 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: border-color 0.3s;
  
        &:focus {
          border-color: #88c999;
          outline: none;
          box-shadow: 0 0 5px rgba(136, 201, 153, 0.5);
        }
      }
  
      button {
        width: 100%;
        padding: 12px 15px;
        font-size: 1rem;
        color: #fff;
        background-color: #88c999;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #76b288;
        }
      }
    }
  }
  